
<nav class="navbar container-fluid navbar-dark " style="background-color: #181818;">
    <div class="container justify-content-center">

        <img src="assets/mult.png" width="220" height="54">
        <p class="positio-bottom fs-6 text-light"> &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;© MUL-T, Inc. 2022 and Beyond. All
            rights reserved.&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp;&nbsp; &nbsp;</p>
        <button class="btn " onclick="window.location.href=''"> <img src="assets/facebook.png" width="40"
                height="40"></button>
        <button class="btn " onclick="window.location.href=''"> <img src="assets/insta.png" width="40" height="40">
        </button>
        <button class="btn " onclick="window.location.href=''"><img src="assets/twitter.png" width="40"
                height="40"></button>
        <button class="btn " onclick="window.location.href=''"><img src="assets/youtube.png" width="40"
                height="40"></button>

    </div>
</nav>
