<nav class="navbar-justified" style="background-color:black; height: 45px;">
  <a class="navbar-brand" href="#"></a>

  <div class="container-fluid" style="height: 45px;">
    <div class="container" style="height: 45px;">
      <div class="text-center" style="height: 45px;">
        <div class="btn-group" role="group" aria-label="Basic outlined example">

          <a routerLink="homepage">
            <button type="button" class="btn btn" style="color:#ffffff">Home</button>
          </a>

          <a routerLink="forum">
            <button type="button" class="btn btn" style="color:#ffffff">Forums</button>
          </a>

          <a routerLink="newspage">
            <button type="button" class="btn btn" style="color:#ffffff">News Page</button>
          </a>

          <a routerLink="favorite">
            <button type="button" class="btn btn" style="color:#ffffff">Favorite Games</button>
          </a>
          <a routerLink="friends">
            <button type="button" class="btn btn" style="color:#ffffff">Friends</button>
          </a>
          <a routerLink="profile">
            <button type="button" class="btn btn" style="color:#ffffff">Profile</button>
          </a>
          <a routerLink="upcoming">
            <button type="button" class="btn btn" style="color:#ffffff">Upcoming</button>
          </a>

        </div>
      </div>
    </div>
  </div>
</nav>