
<div id=background>
    <div class="centered" style="background-color: rgb(165, 166, 192); width: 80%; height: 300px">
        <p class="centered" style="font-size: 45px; margin-left: 360px">Change User</p>
        <form id="log-in-form" class="justify-content-center" style=" width: 70%; margin-left: auto; margin-right: auto; margin-top: 50px">
            <label id="username" style="margin-right: 10px; margin-left: 157px; margin-bottom: 10px">Username:</label>
            <input type="text" name="username" required="true" placeholder="Username"><br>
            <label id="email" style="margin-right: 10px; margin-left: 190px; margin-bottom: 10px">Email:</label>
            <input type="text" name="email" required="true" placeholder="Email"><br>
            <label style="margin-right: 10px; margin-left: 160px; margin-bottom: 15px">Password:</label>
            <input id="password" type="password" style="margin-right: auto" name="password" required="true" placeholder="Password"><br>
            <button type="button" class="btn btn-secondary" style="margin-left: 350px" (click)="loginUser()">Log in</button>
            <button type="button" class="btn btn-secondary" style="margin-left: 10px" (click)="singupUser()">Sign up</button>
        </form>
        <p id="login-error" style="color: red; margin-left: 360px; font-size: 24px"></p>
    </div>
</div>