<div class="container-full-width no-padding">
  <div class="cpntainer-fluid">
    <div class="d-flex justify-content-left">
      <div class="row">
        <div class="col-4"></div>
        <div class="col-12">
          <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#" class="text-white">
                  Home
                </a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Profile</li>
            </ol>
          </nav>
        </div>

      </div>
    </div>
  </div>


  <div class="card bg-dark">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="https://static.vecteezy.com/system/resources/previews/002/318/271/original/user-profile-icon-free-vector.jpg"
          class="img-fluid rounded-start" style="width: 10rem; height:10rem;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" style="color:white">User Name</h5>
          <a href="discordapp.com/users/yourID" class="btn btn-link">Discord info</a>
          <p class="card-text" style="color:white"> Bio </p>
          <p class="card-text"><small class="text-muted">Last online 0 mins ago</small></p>
          <button type="button" class="btn btn-outline-light">+follow</button>
          <a routerLink="Login" href="/login">
            <button type="button" class="btn btn-outline-light">Login</button>
          </a>
        </div>
      </div>
    </div>
  </div>



  <div class="card bg-dark">
    <h5 class="card-title" style="color:white">Favorite Games</h5>
    <div class="row">
      <div class="col">
        <img
          src="https://cdn1.epicgames.com/21916c391ae4425d8f6cce2382aebd0c/offer/EGS_DarkestDungeon_RedHookStudios_S2-1200x1600-1888311b95f43a3b02df2c452bd4ffee.jpg"
          alt="game1" style="width: 15rem; height: 10rem">
      </div>
      <div class="col">
        <img
          src="https://ksr-ugc.imgix.net/assets/005/549/131/e2dd49a185706db2a3fd267125783223_original.png?ixlib=rb-4.0.2&w=700&fit=max&v=1458234136&auto=format&frame=1&q=92&s=dfb77d75863ed2e273e62bc7897a1b5c"
          alt="game2" style="width: 15rem; height: 10rem">
      </div>
      <div class="col">
        <img src="https://cdn.akamai.steamstatic.com/steam/apps/730/capsule_616x353.jpg?t=1668125812" alt="game3"
          style="width: 15rem; height: 10rem">
      </div>
      <div class="col">
        <img src="https://assets2.ignimgs.com/2015/03/31/r6-siege-button-02jpg-b778df.jpg" alt="game4"
          style="width: 15rem; height: 10rem">
      </div>
    </div>
  </div>