<div class="homepage" style="background-color: rgb(15, 15, 61)" >
    <div class="card">
      <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4bdd888b-fe5c-4358-8c46-5362c7ce3154/dehn7hz-56d75669-c27f-4d2b-8e30-91dc2c542e4c.jpg/v1/fill/w_1280,h_720,q_75,strp/cool_gaming_background_4k_by_skullbreaker000_dehn7hz-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvNGJkZDg4OGItZmU1Yy00MzU4LThjNDYtNTM2MmM3Y2UzMTU0XC9kZWhuN2h6LTU2ZDc1NjY5LWMyN2YtNGQyYi04ZTMwLTkxZGMyYzU0MmU0Yy5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.oV9fk5Nb0ps6-6_Omk6AfhkNvdqDyQRvV_hLyys1S6Q" style="width: 1835px; height: 1000px;" class= "card-img-top" alt="..." style="background-color: rgb(15, 15, 61)">
      <div class="title"><h1>Mul-T</h1></div>
    </div>
    
    <div class="News Title text-center"><h2 class="card-text" style="color:white">
    Featured News
    </h2>
    </div>
    
    <div class="d-flex flex-row text-center">
      <div class="d-flex  flex-column">
    
        <div class="card m-3 bg-dark" style="width: 840px; height: 143px;">
          <div class="row g-0">
            <div class="col-md-3">
              <img src="https://www.gameinformer.com/sites/default/files/styles/full/public/2022/10/27/3a96ef0f/silent_hill_2_remake_pyramid_head.jpg" role="button" class="img-fluid rounded-start" alt="..." style="height: 143px;">
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <h5 class="card-title" style="color:white">The Big List Of Upcoming Video Game Remakes</h5>
                <p class="card-text" style="color:white">The remake boom has been in full swing in recent years to the point that it’s starting to get tough to keep track of all the projects in the works. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="d-flex flex-row text-center">
      <div class="d-flex  flex-column">
    
        <div class="card m-3 bg-dark" style="width: 840px; height: 143px;">
          <div class="row g-0">
            <div class="col-md-3">
              <img src="https://www.reuters.com/resizer/g4MGR86VLjFMATTUnO4kEzJgrjc=/960x0/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/Y4VCLENXTBOT3MDXIRZCH545ZI.jpg" role="button" class="img-fluid rounded-start" alt="..." style="height: 143px;">
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <h5 class="card-title" style="color:white">Poland's CD Projekt announces remake of Witcher video game</h5>
                <p class="card-text" style="color:white">GDANSK, Oct 26 (Reuters) - Poland's biggest video game maker CD Projekt (CDR.WA) said on Wednesday that work was in progress on a remake of the first game in its flagship medieval fantasy series "The Witcher".</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      
    
    <div class="d-flex flex-row text-center" >
      <div class="d-flex flex-column">
    
        <div class="card m-3 bg-dark" style="width: 840px; height: 143px;">
          <div class="row g-0">
            <div class="col-md-3">
              <img src="hdata:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" role="button" class="img-fluid rounded-start" alt="..." style="height: 143px;">
            </div>
            <div class="col-md-7">
              <div class="card-body" >
                <h5 class="card-title" style="color:white">God of War Ragnarök Leaks Early, Spoilers Are Everywhere</h5>
                <p class="card-text" style="color:white">The developers are asking everyone to 'please be considerate' of fans who don't want see the story early</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="News Title text-center"><h2 class="card-text" style="color:white">
      Featured Forum of the Day
    </h2>
    </div>
    
    <div class="d-flex flex-row text-center" >
      <div class="d-flex flex-column">
    
        <div class="card m-3 bg-dark" style="width: 1000px; height: 180px;">
          <div class="row g-0">
            <div class="col-md-3">
              <img src="https://store-images.s-microsoft.com/image/apps.30809.65170969132831011.6c6c3131-3fae-40e0-b990-333548e1d2f9.00d6a418-ec0a-4ed4-aaf3-cf5e243cf52e?q=90&w=480&h=270" role="button" class="img-fluid rounded-start" alt="..." style="height: 180px;">
            </div>
            <div class="col-md-7">
              <div class="card-body" >
                <h4 class="card-title" style="color:white">Tom Clancy's Rainbow Six Siege</h4>
                <p class="card-text" style="color:white">Rainbow Six Siege is a high-precision, tactical shooter that prioritises careful planning teamwork and finely tuned tactical play. Each player assumes control of an attacker or a defender in different gameplay modes such as rescuing a hostage, defusing a bomb, and taking control of an objective within a room.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    
    </div>